<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>controller.ControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>controller.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCliente</servlet-name>
        <servlet-class>controller.ControleCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCliente1</servlet-name>
        <servlet-class>controller.ControleCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAcessoCliente</servlet-name>
        <servlet-class>controller.ControleAcessoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleOrdemServico</servlet-name>
        <servlet-class>controller.ControleOrdemServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleVeiculo</servlet-name>
        <servlet-class>controller.ControleVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaDispOs</servlet-name>
        <servlet-class>controller.VerificaDispOs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAgenda</servlet-name>
        <servlet-class>controller.ControleAgenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCliente</servlet-name>
        <url-pattern>/ControleCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCliente1</servlet-name>
        <url-pattern>/ControleCliente1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAcessoCliente</servlet-name>
        <url-pattern>/ControleAcessoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleOrdemServico</servlet-name>
        <url-pattern>/ControleOrdemServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleVeiculo</servlet-name>
        <url-pattern>/ControleVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaDispOs</servlet-name>
        <url-pattern>/VerificaDispOs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAgenda</servlet-name>
        <url-pattern>/ControleAgenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>AcessoAdministrativo</filter-name>
        <filter-class>AutorizacaoDeAcesso.AcessoAdministrativo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAdministrativo</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>/principal.jsp</welcome-file>
    </welcome-file-list>
</web-app>
